<?xml version="1.0"?>
<launch>
  <arg name="base_dir"/>

  <env name="GAZEBO_MODEL_PATH" value="$(arg base_dir)/models"/>

  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>

  <arg name="robot_name" default="$(optenv ROBOT_NAME hsrb)" />
  <include file="$(find hsrb_gazebo_bringup)/launch/hsrb_empty_world.launch" pass_all_args="true">
    <arg name="world_name" value="$(arg base_dir)/worlds/hsrb_reach.world" />
    <!-- <arg name="robot_pos" value="[Initial pose of the robot]" /> -->
    <arg name="use_laser_odom" value="false" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
  </include>

</launch>